release
.idea/
go.sum
*.db
*.ini
*.key
build
*.txt
cli-http.log
cli-app
cli_config_log.log
node/keys/
node/node/
mpc_keys_meta/
keys/
walletapi/cli.json
cli_config.yaml
node/cli_node1.json
node/cli_node2.json
node/cli_node0.json
